[Desktop Entry]
Version=1.0
Type=Application
Name=Install Package (pacman)
Comment=Install a package from official repositories
Icon=system-software-install
Exec=ghostty -e bash -c 'mimiron-show-logo && gum input --placeholder "Package name..." | xargs -I {} mimiron-pkg-install {}; mimiron-show-done'
Terminal=false
Categories=System;PackageManager;
Keywords=install;package;pacman;mimiron;
