[Desktop Entry]
Version=1.0
Type=Application
Name=Toggle PBP Mode
Comment=Toggle Picture-by-Picture mode on Dell monitor
Icon=gnome-robots
Exec=/home/dzannotti/.local/share/mimiron/bin/dell-pbp-toggle
Terminal=false
Categories=Settings;HardwareSettings;
Keywords=pbp;picture;monitor;display;dell;toggle;mimiron;
