[Desktop Entry]
Version=1.0
Type=Application
Name=Toggle Audio Output
Comment=Switch between audio output devices
Icon=gnome-robots
Exec=/home/dzannotti/.local/share/mimiron/bin/audio-toggle
Terminal=false
Categories=AudioVideo;Audio;
Keywords=audio;sound;output;toggle;speakers;headset;mimiron;
